[defaults]
inventory = inventory/hosts.yml
roles_path = roles
remote_tmp = /tmp/.ansible/tmp
host_key_checking = false
retry_files_enabled = false
interpreter_python = auto_silent
inject_facts_as_vars = false

[privilege_escalation]
become = true
become_method = sudo
become_user = root
